[submodule "tree-sitter"]
	path = tree-sitter
	url = git@github.com:tree-sitter/tree-sitter.git
[submodule "tree-sitter-commonlisp"]
	path = tree-sitter-commonlisp
	url = git@github.com:theHamsta/tree-sitter-commonlisp.git
