[submodule "tree-sitter"]
	path = tree-sitter
	url = git@github.com:tree-sitter/tree-sitter.git
[submodule "tree-sitter-racket"]
	path = tree-sitter-racket
	url = git@github.com:6cdh/tree-sitter-racket.git
